<%= react_component 'AppName', name: 'Cuno', direction: t('.direction') %>
<ul>
<li><%= link_to 'Русский', root_path(locale: :ru) %></li>
<li><%= link_to 'English', root_path(locale: :en) %></li>
</ul>
