<% if resource.errors.any? %>
  <div class="btn btn-danger disabled w-100">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
